{% include 'partials/model-header.html' %} 

    <div class="titulo-container mt-3">
        <h1 class="titulo">1º Ano</h1>
    </div>

    {% block content %}

    <div class="container d-flex">
        <div class="row">
            {% for jogo in jogos %}
            <div class="col mt-4 md-4">
                <div class="card" style="width: 20rem;">
                    <img src="{{jogo.foto.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{jogo.nome}}</h5>
                        <p class="card-text">{{jogo.descricao}}</p>
                        <a href="{{jogo.url}}" class="btn btn-primary">Clique para jogar</a>                                             
                        <p class="card-text mt-2"><small class="text-muted">{{jogo.ano}} º Ano </small></p>
                        <p class="card-text"><small class="text-muted">Adicionado por: {{jogo.user}}</small></p>
                        <p class="card-text"><small class="text-muted">Adicionado em {{jogo.data}}</small></p>
                    </div>
                </div>                
            </div>
            {% endfor %}
        </div> 
    </div>
    {% endblock %}

{% include 'partials/model-footer.html' %}