{% load static %}
  
  <div class="row row-cols-1 row-cols-md-3 g-4 ">
    <div class="col">
      <div class="card h-100">
        <img class="img-atividades" src="{% static 'atividades/images/atividades2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Atividades</h5>
          <p class="card-text">Coleção de atividades extra-classe para ajudar na fixação das atividades realizada dentro de sala de aula.</p>
        </div>
        <div class="card-footer">
          <a class="md-2" href="/atividades/"><small class="link-dark">Saiba mais</small></a>              
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img class="img-atividades" src="{% static 'atividades/images/jogos2.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Jogos</h5>
          <p class="card-text">Coleção de jogos intuitivos e educativos que ajudam as crianças aprenderem se divertindo.</p>
        </div>
        <div class="card-footer">
            <a href="http:/jogos/"><small class="link-dark">Saiba mais</small></a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <img class="img-atividades" src="{% static 'atividades/images/videos.png' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Vídeos</h5>
          <p class="card-text">Coleção de vídeos que ajudam as crianças entenderem o conteúdo dado em sala de uma forma interativa e diversificada.</p>
        </div>
        <div class="card-footer">
            <a href="http:/videos/"><small class="link-dark">Saiba mais</small></a>
        </div>
      </div>
    </div>
  </div>