{% include 'partials/model-header.html' %}

    <section class="container mt-5">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <a class="nav-link link-light" href="/portugues"> <h5 class="card-title">Português</h5> </a>
              <p class="card-text">Atividades para identificar e formar palavras na alfabetização da lingua portuguesa</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <a class="nav-link link-light" href="/matematica"> <h5 class="card-title">Matemática</h5> </a>
              <p class="card-text">Atividades para auxiliar na aprendizagem de soma, subtrair, multiplicar e dividir.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <a class="nav-link link-light" href="/historia"> <h5 class="card-title">História</h5> </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="card text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <a class="nav-link link-light" href="/geografia"> <h5 class="card-title">Geografia</h5> </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">            
            <div class="card-body">
              <a class="nav-link link-light" href="/ciencias"> <h5 class="card-title">Ciências</h5> </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">            
            <div class="card-body">
              <a class="nav-link link-light" href="/ingles"> <h5 class="card-title">Inglês</h5> </a>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% include 'partials/model-footer.html' %}
